# Environments
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
env/
.env/

# Docker
postgres_data/
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific data (We ignore raw heavy spatial files to prevent repo bloat)
data/*.geojson
!data/segmented_uk_rivers.geojson 
# Keep the segmented one for the demo frontend
